h1 {

    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-style: bold;
    color: black;
    text-align: center;
    font-size: 500%;
}


body {
    background-size: 75%;
}
